{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ladder App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <!-- main.css loaded from static -->
    <link rel="stylesheet" type="text/css" href="{% static 'players/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'players/scheduling.css' %}">
</head>
<body>
<div class="container main">
    {% include 'players/header.html' %}
    <div id="navigation-section">
        {% include 'players/top_navigation.html' %}
    </div>
    <div class="container pt-2 pl-0 pr-0 content-page">
        {% include 'players/messages.html' %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'players/footer.html' %}
</div>
<script src="{% static 'jquery/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'jquery/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>

{% block javascript %}
{% endblock javascript %}
</body>
</html>
