{% extends 'players/base.html' %}

{% block content %}
    <div class="container">
        <ul class="progressbar">
            <li><a href="{% url 'ladder-detail' ladder_round.ladder.id %}">Create Round</a></li>
            <li><a href="{% url 'manage-players-in-round' %}?round={{ ladder_round.id }}">Add Players to round</a></li>
            <li class="active"><a class="active" href="{% url 'round-draw' ladder_round.id %}">Finalise Draw</a></li>
            <li><a href="{% url 'capture-results' ladder_round.id %}">Capture Results</a></li>
        </ul>
    </div>
    <form method="post" action="{% url 'close-draw' ladder_round.id %}">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">Draw for ladder : {{ ladder_round.start_date }}</div>
                <div class="col">{% if ladder_round.status < 2 and players|length|divisibleby:2 %}
                    <input type="submit" class="btn" name="close" value="Close Draw"/>
                {% endif %}
                </div>
            </div>
            <input type="hidden" name="round_id" value="{{ ladder_round.id }}"/>
        </div>


        <div class="draw-container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <table class="table text-center">
                <thead>
                <tr>
                    <th class="text-center">Player 1</th>
                    <th></th>
                    <th class="text-center">Player 2</th>
                </tr>
                </thead>
                <tbody>
                <input type="hidden" name="number-of-matches" value="{{ matches|length }}"/>
                {% for match in matches %}
                    <tr>
                        <input type="hidden" name="{{ forloop.counter }}-player1"
                               value="{{ match.player1.id }}"/>
                        <td>{{ match.player1.first_name }} {{ match.player1.last_name }} ({{ match.player1.ranking }})
                        </td>
                        <td>VS</td>
                        <td>{{ match.player2.first_name }} {{ match.player2.last_name }} ({{ match.player2.ranking }})
                        </td>
                        <input type="hidden" name="{{ forloop.counter }}-player2"
                               value="{{ match.player2.id }}"/>
                    </tr>
                {% endfor matches %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock content %}