{% extends 'players/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {{ ladder.title }}
                {% for ladder_round in ladder_rounds %}
                    <p>
                        {% if ladder_round.status == ladder_round.COMPLETED %}
                            <a href="{% url "view-results" ladder_round.id %}">Week {{ forloop.counter }} {{ ladder_round.get_status_display }}</a>
                        {% else %}
                            <a href="{% url "round-detail" ladder_round.id %}">Week {{ forloop.counter }} {{ ladder_round.get_status_display }}</a>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
            <div class="col-md-9">
                <table class="table">
                    <thead>
                    <th>Ranking</th>
                    <th>Player</th>
                    {% for ladder_round in ladder_rounds %}
                        <th>{{ ladder_round.end_date }}</th>
                    {% endfor %}
                    </thead>
                    <tbody>


                    {% for each_player in full_ladder_details %}
                        <tr>
                            <td>
                                {{ each_player.player_ranking }}
                            </td>
                            <td>

                                <a href="{% url 'player-profile' each_player.player_id  %}">
                                    {{ each_player.player_name }}
                                </a>
                            </td>

                            {% for ladder_round in ladder_rounds %}
                                <td>

                                    {% for each_game in each_player.games %}
                                        {% if each_game.round_id == ladder_round.id %}
                                            {{ each_game.games_for }}

                                        {% endif %}

                                    {% endfor %}

                                </td>
                            {% endfor %}
                        </tr>


                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}