{% extends 'players/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ ladder.title }}</h1>
    <div class="col-md-3">
        <p>Start Date: {{ ladder.start_date }}</p>
        <p>End Date:
            {% if ladder.end_date %}
                {{ ladder.end_date }}
            {% else %}
                Not set
            {% endif %}
        </p>

        {% if ladder.status < ladder.CLOSED %}
            <h2>Add round to ladder:</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.start_date }}
                {{ form.end_date }}
                <input class="btn btn-outline-info" type="submit" id="add_round" value="Add Round">
            </form>

            {% if closeable %}
                <div class="side-panel-form">
                    <h2>Close Ladder</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ ladder_status_form.end_date }}
                        <input class="btn btn-outline-info" type="submit" name="close_ladder" value="Close Ladder">
                    </form>
                </div>
            {% endif %}
        {% else %}
            <h2>Re-open Ladder</h2>
            <form method="POST">
                {% csrf_token %}
                <input class="btn btn-outline-info" type="submit" name="re_open" value="Re-Open Ladder">
                {% if ladder.status == ladder.CANCELLED %}
                    <input class="btn btn-outline-info" type="submit" name="delete_ladder" value="Delete Ladder">
                {% endif %}
            </form>
        {% endif %}
    </div>
    <div class="col-md-9">
        <table class="table text-left">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Start Date</th>
                <th scope="col">Completed Date</th>
                <th scope="col">Round Status</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for round in rounds %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ round.start_date }}</td>
                    <td>{{ round.end_date }}</td>
                    <td>{{ round.get_status_display }}</td>
                    <td>
                        {% if round.status == round.COMPLETED %}
                            <a href="{% url 'view-results' round.id %}">View Results</a>
                        {% elif round.status == round.CANCELLED %}
                            Round Cancelled - Nothing to see here
                        {% else %}
                            <a href="{% url 'round-detail' round.id %}">Manage Round</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor round %}

            </tbody>
        </table>

    </div>

{% endblock content %}