{% extends 'players/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'round/header-banner.html' with ladder=ladder %}
    {% include 'round/ladder-admin-nav.html' with page_name='draw' ladder_id=ladder.id %}

    <div class="row">
        <div class="col pt-2 pr-3">
            <table class="table text-left">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Completed Date</th>
                    <th scope="col">Round Status</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for round in rounds %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ round.start_date }}</td>
                        <td>{{ round.end_date }}</td>
                        <td>{{ round.get_status_display }}</td>
                        <td>
                            {% if round.status == round.COMPLETED %}
                                <a href="{% url 'admin-round-detail' round.id %}">View Results</a>
                            {% elif round.status == round.CANCELLED %}
                                Round Cancelled - Nothing to see here
                            {% elif round.status == round.CLOSED %}
                                <a href="{% url 'capture-results' round.id %}">Capture Results</a>
                            {% else %}
                                <a href="{% url 'admin-round-detail' round.id %}">Manage Round</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor round %}

                </tbody>
            </table>

        </div>
    </div>
{% endblock content %}