{% extends 'players/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% for ladder in ladders %}
                    {{ ladder.title }}

                {% endfor %}
            </div>
            <div class="col-md-9">

                    <table class="table text-left">
                        <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Contact Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                            <tr id="{{ player.id }}">
                                <td>{{ player.ranking }}</td>
                                <td>{{ player.first_name }}</td>
                                <td>{{ player.last_name }}</td>
                                <td>{{ player.contact_number }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
            </div>
        </div>
    </div>

{% endblock content %}