{% extends 'players/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ ladder.title }}</h1>
    <div class="col-md-3">
        <p>Start Date: {{ ladder.start_date }}</p>
        <p>End Date:
            {% if ladder.end_date %}
                {{ ladder.end_date }}
            {% else %}
                Not set
            {% endif %}
        </p>
        {% if perms.round.add_round %}
            {% if ladder.status < ladder.CLOSED %}
                <h2>Add round to ladder:</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {% if form.start_date.errors %}
                            {% for error in form.start_date.errors %}
                                <p class="error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form.start_date }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.end_date.errors }}
                        {{ form.end_date }}
                    </div>
                    <input type="hidden" name="ladder" id="id_ladder" value="{{ ladder.id }}"/>
                    <input class="btn btn-outline-info" type="submit" name="add_round" value="Add Round">
                </form>
                {% if closeable %}
                    <div class="side-panel-form">
                        <h2>Close Ladder</h2>
                        <form method="POST">
                            {% csrf_token %}
                            {{ ladder_status_form.end_date }}
                            <input class="btn btn-outline-info" type="submit" name="close_ladder" value="Close Ladder">
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if perms.ladder.add_ladder %}
                <h2>Re-open Ladder</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input class="btn btn-outline-info" type="submit" name="re_open" value="Re-Open Ladder">
                    {% if ladder.status == ladder.CANCELLED %}
                        <input class="btn btn-outline-info" type="submit" name="delete_ladder" value="Delete Ladder">
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-9">
        <table class="table text-left">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Start Date</th>
                <th scope="col">Completed Date</th>
                <th scope="col">Round Status</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for round in rounds %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ round.start_date }}</td>
                    <td>{{ round.end_date }}</td>
                    <td>{{ round.get_status_display }}</td>
                    <td>
                        {% if round.status == round.COMPLETED %}
                            <a href="{% url 'view-results' round.id %}">View Results</a>
                        {% elif round.status == round.CANCELLED %}
                            Round Cancelled - Nothing to see here
                        {% else %}
                            <a href="{% url 'round-detail' round.id %}">Manage Round</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor round %}

            </tbody>
        </table>

    </div>

{% endblock content %}