{% extends 'players/base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="row-cols-2">
            <div class="panel-heading">{{ ladder.title }}</div>
            <div class="panel-body">{{ ladder.start_date }} - {{ ladder.end_date }}</div>
        </div>

    </div>
    {% if perms.round.can_administrate_ladder %}
        <div class="container">
            {% include 'round/ladder-admin-nav.html'  with  status=ladder_round.status %}
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 pl-0 pr-0">
                {% include 'round/round_detail_nav.html' with ladder_round=ladder_round ladder_rounds=ladder_rounds %}
            </div>
            <div class="col-md-9 pt-2 pr-0">
                <div class="row">
                    {% if scheduled_matches and ladder_round.status >= ladder_round.CLOSED %}
                        {% include 'round/scheduled_matches.html' with scheduled_matches=scheduled_matches round_match_schedule=round_match_schedule ladder_round=ladder_round %}
                    {% elif matches %}
                        {% include 'round/matches-in-round.html' with matches=matches %}
                    {% else %}
                        {% include 'round/players-in-round.html' with players=players %}
                    {% endif %}
                </div>
            </div>
        </div>



{% endblock content %}