{% extends 'players/base.html' %}
{% load round_custom_tags %}
{% block content %}
    {% include 'round/header-banner.html' with ladder=ladder_round.ladder %}
    {% include 'round/ladder-admin-nav.html' with page_name='schedule-matches' ladder=ladder_round.ladder ladder_round=ladder_round %}
    <div class="container">
        <form id="match-schedule-form" method="POST">
            {% csrf_token %}
            <input type="hidden" id="scheduled-matches" name="scheduled-matches">
        </form>
        <div class="row">
            <div class="col-8">
                {% for day in schedule.match_days|as_list:',' %}
                    <div class="match-day">
                        <h2>{{ day|date_for_day_of_year:2020|date:'l j F, Y' }}</h2>

                        <div id="time-slots">
                            {% for time in schedule.number_of_timeslots|times %}
                                <div id="time-slot" class="time-slot">
                                    <div class="time-row">
                                        <div class="match-time">
                                            {% timeslot schedule.start_time forloop.counter0 schedule.time_interval as times_slot_value %}
                                            {{ times_slot_value|date:'H:i' }}
                                        </div>
                                    </div>
                                    <div class="matches-row">
                                        {% for court in schedule.number_of_courts|times %}
                                            <div class="match-time-slot">
                                                {% for each_scheduled_match in saved_matches_schedule %}
                                                    {% grid_location forloop.parentloop.parentloop.parentloop.counter forloop.parentloop.parentloop.counter forloop.parentloop.counter schedule.number_of_courts schedule.number_of_timeslots as grid_location %}
                                                    {% if each_scheduled_match.time_grid_location == grid_location %}
                                                        <div id="schedulable-match-{{ each_scheduled_match.match.id }}"
                                                             class="schedulable-match" draggable="true">
                                                            <span class="player">{{ each_scheduled_match.match.player1.first_name }} {{ each_scheduled_match.match.player1.last_name }}</span><span
                                                                class="vs"> vs. </span><span
                                                                class="player">{{ each_scheduled_match.match.player2.first_name }} {{ each_scheduled_match.match.player2.last_name }}</span>
                                                            <input type="hidden" id="match-id" name="match-id"
                                                                   value="{{ each_scheduled_match.match.id }}">
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <input type="hidden" name="match-day" class="match-day-date"
                                                       value="{{ day }}">
                                                <input type="hidden" name="time"
                                                       value="{{ times_slot_value|date:'H:i' }}">
                                                <input type="hidden" name="court" value="{{ forloop.counter }}">
                                                {% csrf_token %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="right-bar" class="col-4">
                <div id="matches" class="matches">
                    {% for match in matches %}
                        <div id="schedulable-match-{{ match.id }}" class="schedulable-match" draggable="true">
                            <span class="player">{{ match.player1.first_name }} {{ match.player1.last_name }}</span><span
                                class="vs"> vs. </span><span
                                class="player">{{ match.player2.first_name }} {{ match.player2.last_name }}</span>
                            <input type="hidden" id="match-id" name="match-id" value="{{ match.id }}">
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    </div>


{% endblock content %}
{% block javascript %}
    <script>
        $(function () {
            let position = $("#right-bar").offset().top;
            let heightfromtop = $("#matches").offsetTop;
            console.log("position: " + position);
            $(window).scroll(function () {
                let scroll = $(this).scrollTop();
                console.log("scroll: " + scroll);
                if (scroll >= position) {
                    console.log("its bigger");
                    $("#right-bar")
                        .css(
                            {
                                'position':'fixed',
                                'top':'0px',
                                'right': '232px',
                                'max-width' : '340px'
                           });
                } else {
                    $("#right-bar")
                        .css(
                            {
                                'position':'inherit'

                           });
                }
            });

            function handleSaveDropEvent(event, ui) {
                let $self = $(this);
                let $item = ui.draggable;
                $item.detach().prependTo($self);

                $self.droppable("destroy");
                $item.draggable({
                    start: function (event, ui) {
                        $self.droppable({
                            drop: handleSaveDropEvent
                        });
                        $(ui.helper).css("width", "178px");
                    }
                });
                let match_id = $item.find("input[name=match-id]");
                let time = $self.parent().find("input[name=time]");
                let match_day = $self.find('input[name=match-day]');
                let court = $self.find('input[name=court]');
                $.ajax({
                        type: 'POST',
                        url: '{% url "save-scheduled-match" ladder_round.id %}',
                        data: {
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            action: 'POST',
                            match_day: match_day.val(),
                            match_time: time.val(),
                            court: court.val(),
                            match_id: match_id.val(),
                            save: 'True'
                        },
                        error: function (xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    }
                );
            }

            function handleRemoveDropEvent(event, ui) {
                let $self = $(this);
                let $item = ui.draggable;
                $item.detach().prependTo($self)
                let match_id = $item.find("input[name=match-id]");
                $item.draggable({
                    start: function () {
                        $self.droppable({
                            drop: handleRemoveDropEvent
                        });

                    }
                });
                $.ajax({
                        type: 'POST',
                        url: '{% url "save-scheduled-match" ladder_round.id %}',
                        data: {
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            action: 'POST',
                            match_id: match_id.val(),
                            remove: 'True'
                        },
                        error: function (xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    }
                );
                //console.log($item.find("input[type=hidden]").val())

            }

            $(".schedulable-match").draggable({
                    start: function (e, ui) {
                        $(ui.helper).css("width", "178px");
                        $(ui.helper).css("height", "65px");
                    },
                    helper: "clone"
                }
            );
            $(".matches").droppable({
                drop: handleRemoveDropEvent
            });
            $(".match-time-slot").droppable({

                drop: handleSaveDropEvent
            });


        });

    </script>
{% endblock javascript %}