{% extends 'players/base.html' %}
{% load round_custom_tags %}
{% block content %}
    {% include 'round/header-banner.html' with ladder=ladder_round.ladder %}
    {% include 'round/ladder-admin-nav.html' with page_name='draw' ladder_round=ladder_round %}
    <div class="row">
        <div class="col-3">
             {% include 'round/round_detail_nav.html' with ladder_round=ladder_round ladder_rounds=ladder_rounds %}
        </div>
        <div class="col-9">
            {% if ladder_round.match_schedule %}
                <div class="row pt-2 content-row">
                    <div class="col-8">
                        <p>Round Start time: {{ ladder_round.match_schedule.start_time }}</p>
                        <p>Scheduled End time: {{ ladder_round.match_schedule.end_time }}</p>
                        <p>Number of courts available: {{ ladder_round.match_schedule.number_of_courts }}</p>
                        <p>Games scheduled for (minutes): {{ ladder_round.match_schedule.time_interval }}</p>
                        <p>Slots available for
                            scheduling: {{ ladder_round.match_schedule.number_of_timeslots|multiply:ladder_round.match_schedule.number_of_courts }}</p>
                        <form method="POST">
                            {% csrf_token %}

                            <input type="submit" name="reset-schedule" value="Reset Schedule">
                            <input type="submit" name="commit-schedule" value="Continue">
                        </form>
                    </div>
                </div>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="row pt-2 content-row">
                        <div class="col-4">
                            <div class="select-match-day">Select Match Day/s
                                <ul>
                                    {% for day in days %}
                                        <li><input type="checkbox" name="match-day[]" value="{{ day|date:"z" }}"><label
                                                for="matchday[]">{{ day|date:"l, j M" }}</label></li>

                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="courts">
                                <label for="number-of-courts">How many courts are you going to use?</label>
                                <input name="number-of-courts" type="number" min="1" max="4" value="4">
                            </div>
                            <div class="time-schedule">
                                <label for="start-time">What is the start time of the matches?</label>
                                <input type="time" value="18:00" name="start-time">
                                <label for="end-time">What is the latest the games should start?</label>
                                <input type="time" value="22:00" name="end-time">
                                <label for="number-of-games">How many games will be played per day?</label>
                                <input type="text" name="number-of-games" placeholder="Optional">
                                <label for="time-interval">How much time allowed for a game?</label>
                                <select name="time-interval">
                                    <option value="30" selected>30 min</option>
                                    <option value="45">45 min</option>
                                    <option value="60">60 min</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <input type="submit" name="generate-match-schedule" value="Generate Match Schedule">
                        </div>

                    </div>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock content %}