.time-slots {
    display: inline-flex;
    width: 100%;
}

.time-slot {
    margin: 5px 0px;
    width: 100%;
    border-radius: 5px;
    border-style: dotted;
    border-color: #CD6620;
    background-color: #FFAE78;
}
.time-slot .match-time {
    padding: 0 5px;
    font-weight: bold;
    text-align: left;
}

.time-slot .time-row {
   width: 100%;

}

.time-slot .time-row input{
    height: 25px;
    border: none;
    background-color: #FFAE78;
    color: black;
    font-weight: bold;

}

.time-slot .matches-row {
    width: 100%;
    line-height: 80px;
    display: inline-flex;
}
.time-slot .match-time-slot  {
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    width: 100%;
    height: 75px;
    background-color: rgba(0,0,0,0.1);
    border-color: #000000;
    border-style: solid;
    border-width: thin;
}

.time-slot .match-time-slot .schedulable-match {
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    border-style: none;
    background-color: #148270;
    width: 94%;
    height: 65px;
}

.time-slot .match-time-slot .schedulable-match .player {

    width: 100%;
    flex: 1;
    float: left;
    height: 15px;
}
.time-slot .match-time-slot .schedulable-match .vs {

    width: 100%;
    flex: 1;
    float: left;
    height: 17px;
}


.schedulable-match {
    text-align: center;
    margin: 5px 5px;
    padding: 0 5px;
    border-radius: 5px;
    border-style: dashed;
    border-color: #CD6620;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.matches {
    width: 100%;
    min-height: 80px;
}









